#root{
    display: grid;
        grid-template-columns: 4fr 8fr;
        gap: 20px;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
table{
    align-self: start;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}
table,td,th{
    border: 1px solid black;
}
td,th{
    padding: 10px 5px;
    vertical-align: center;
    text-align: center;
}

